@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&family=Quicksand&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif;
  
}
body {
  background-color: rgb(115, 125, 115);
}
nav {
  height: 68px;
  width: 100%;
  background-color: rgb(127, 133, 127);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(227, 221, 221);
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
nav ul li {
  list-style-type: none;
  margin: 20px;
}
nav ul li a {
  text-decoration: none;
  color: rgb(236, 224, 224);
  font-size: 1.5rem;
  position: relative;
}
li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: rgb(224, 224, 208);
  position: absolute;
  left: 0;
  bottom: -6px;
  margin-top: 5px;
  transition: 0.9s;
}
nav ul li a:hover::after {
  width: 100%;
  /* color: rgb(158, 152, 152); */
  cursor: pointer;
  /* font-size: 1.04rem; */
}

.left {
  font-size: 1.8rem;
}
.left:hover {
  color: rgb(199, 190, 190);
  font-size: 1.9rem;
  cursor: default;
}
.firstsection {
  display: flex;
  justify-content: space-around;
  margin: 125px 0;
}
.firstsection > div {
  width: 30%;
}
.leftsection {
  padding: 8px 10px;
  font-size: 4rem;
  color: white;
  margin: 66px;
  line-height: 1.4;
  cursor: pointer;
}
.rightsection {
  width: 50%;
}
.rightsection img {
  width: 80%;
  cursor: pointer;
}
.gray {
  color: rgb(236, 248, 6);
  font-size: 3rem;
}
.dev {
  font-size: 2.5rem;
}
.image img {
  margin: 70px 169px;
  height: 300px;
  width: 250px;
  border-radius: 25px;
  cursor: pointer;
}
#about {
  font-size: 1.5rem;
  color: white;
  margin: 30px;
  cursor: pointer;
}
.container {
  padding: 95px 40px;
  color: white;
  font-size: 2rem;
}
.imgcha {
  border-radius: 10px;
  width: 100%;

}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-2 {
  flex-basis: 60%;
  color: rgb(255, 255, 255);
}
.subtitle {
  font-size: 60px;
  font-weight: 600;
  line-height: 2;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 21px;
  font-weight: 500;
  cursor: pointer;
  color: rgb(178, 170, 170);
}
.tab-links:hover{
    font-size: 22px;
    cursor: pointer;
    color: white;
} 
footer{
  background-color: rgb(63, 61, 61);
}
.footercontainer{
  width: 100%;
  padding: 70px 30px 20px;
}
.socialicons{
  display: flex;
  justify-content: center;
} 
.socialicons a{
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;


}
.socialicons a i{
  font-size: 2em;
  color: black;
  opacity: 0.9;

}
.socialicons a:hover{
  background-color: #111;
  transition: .3s;
}
.socialicons a:hover i{
  color: white;
  transition: .3s;
}
.footernav{
  margin: 30px 0;
}
.footernav ul{
  display: flex;
  justify-content: center;
}
.footernav ul li{
  list-style-type: none;

}
.footernav p{
  color: white;
  font-size: 1.3rem;
  padding: 0px 20px;
  text-align: center;
}
.footernav ul li a{
  color: white;
  text-decoration: none;
  padding: 25px;
  font-size: 1.3rem;
  transition: .3s;
}
.footernav ul li a:hover{
  color: gray;
  transition: .3s;
}
.footerbottom{
  color: white;
  background-color: black;
  text-align: center;
  padding: 20px;
}
.hearticon{
  color: red;
  font-size: larger;
  font-weight: 700
}